<!DOCTYPE html>
<html>
  <head>
    <title>Pertemuan 3/Profile</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body>
      <nav class="navbar1">
        <ul>
          <li><a href="#">INVENTORY</a></li>
          <li><a href="blog.html">BLOG</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">PRODUCT</a></li>
          <li><a href="#">HOME</a></li>
        </ul>
      </nav>

      <div class="divid">
        <br><br>
      </div>

        <div class="box1">
          <img src="../assets/meh.jpg" style="width:150px;height:150px">
          <div class="sec1">
 

            <h2>Yulius Wilson Gunawan</h2>
            <a>Front End Engineer</a><br>
            <br><br>
            <input type="button" class="bkontak" value="Kontak">
            <input type="button" class="bresume" value="Resume">

          </div>

          

          <div class="sec3">
            <div class="verline"></div>
              <table style="width: 100%;">
                <tr>
                  <th>Availability</th>
                  <td> : Full Time</td>
                </tr>
                <tr>
                  <th>Usia</th>
                  <td> : 21</td>
                </tr>
                <tr>
                  <th>Lokasi</th>
                  <td> : Yogyakarta</td>
                </tr>
                <tr>
                  <th>Pengalaman</th>
                  <td> : 2</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td> : yuliuswilsong@gmail.com</td>
                </tr>
              </table>
          </div>
        </div>
        <div class="divid">
          <br><br>
        </div>

        <div class="box2">
          
            <div>
              <label><strong>Nama</strong></label>
              <br>
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
              <label><strong>Role</strong></label>
              <br>  
              <input type="text" class="input1">
            </div>
            <div>
              <br>
              <label><strong>Availability</strong></label>
              <br>    
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
              <label><strong>Usia</strong></label>
              <br>  
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
              <label><strong>Lokasi</strong></label>
              <br>  
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
              <label><strong>Years Experience</strong></label>
              <br>  
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
              <label><strong>Email</strong></label>
              <br>  
              <input type="text" class="input1">
              <br>
            </div>
            <div>
              <br>
                <input type="button" class="button1" value="SUBMIT">
            </div>
        </div>


  </body>
</html>

<script>
  console.log("Pertemuan 2");
  console.log("FERD-KI-002");
  console.log("Yulius Wilson Gunawan");
</script>