<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style2.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Pertemuan 3/Blog</title>
  </head>
  <body class="bode">
    <div class="header">
        <center>
            <h1><strong>Workshop FWDB Blog</strong></h1>
            <hr>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus erat nec neque placerat ultricies at id neque. Aenean id feugiat odio. Morbi nec ex sem. Suspendisse a varius orci. Nunc lobortis gravida mi non sollicitudin.
        </center>
    </div> <!-- End Header -->

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="navbbar">
                    <nav class="navbar navbar-expand">
                        <div class="container-fluid justify-content-start">
                            <a href="profile.html" class="navbar-brand">HOME</a>
                            <a href="#" class="navbar-brand">TUTORIAL</a>
                            <a href="#" class="navbar-brand">KONTAK</a>
                        </div>
                    </nav>
                </div> <!-- End Navbar -->

                <br>

                <div class="uix">
                    <div class="oleh">
                        <a>DI POSTING OLEH <strong>PTP DEV TEAM</strong></a>
                    </div>
                    <img src="../assets/card1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Workshop Into To Programming</h5>
                        <hr>
                        <p class="card-text">Nullam libero ipsum, pretium eleifend sem viverra, tincidunt tincidunt dui.</p>
                        <a class="link1" href="#"><strong>Selengkapnya -></strong></a>
                    </div>
                </div> <!-- uix -->

                <br>

                <div class="uix">
                    <div class="oleh">
                        <a>DI POSTING OLEH <strong>PTP DEV TEAM</strong></a>
                    </div>
                    <img src="../assets/card2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Workshop Front End Web Development</h5>
                        <hr>
                        <p class="card-text">Etiam porta ligula libero, eu semper ex ullamcorper at.</p>
                        <a class="link1" href="#"><strong>Selengkapnya -></strong></a>
                    </div>
                </div> <!-- uix -->
            </div> <!-- End Col-9 -->


            <div class="col-md-3 mt-5">
                <div class="uix">
                    <div class="card-body">
                        <h5 class="card-title-side">TUTORIAL</h5>
                        <hr>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec luctus felis, ac tincidunt erat. Vivamus ex lorem, mollis at laoreet vel, efficitur sed neque.</p>
                    </div>
                </div> <!-- uix -->

                <br>

                <div class="uix">
                    <div class="card-body">
                        <h5 class="card-title-side">WORKSHOP 4 DAYS</h5>
                        <hr>
                        <p class="card-text">Fusce fringilla pharetra dui. Cras consequat tortor accumsan erat porta placerat. Nulla ac odio quis augue tristique laoreet quis consectetur mi.</p>
                    </div>
                </div> <!-- uix -->
            </div> <!-- End Col-3 -->
        </div> <!-- End Row -->
    </div> <!-- End Container -->

    <br>

    <footer>
        <center>
            <span style="float: left;">Yulius Wilson Gunawan</span>
            <span style="float: right;">Front End Developer</span>
        </center>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  </body>
</html>